
.detailContainer{
    display:grid;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: "img detail";
    grid-template-columns: 1fr 1fr;
    width: 100%;
    @media (max-width: 940px) {
        grid-template-areas: "img"
                            "detail";
        grid-template-columns: 1fr;
    }

    .imgDetail{
        grid-area: img;
        img{
            width: 100%;
        }
    }
    .textDetail{
        grid-area: detail;
        h6{
            text-indent: 20px;
            font-size: 20px;
        }
        .productDetails{
            text-indent: 40px;

        }
        .buttonBuy{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    } 
}