.emptyCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Itim', cursive;
    text-align: center;
    font-size:  45px;
    color: #8ac5a1;
    margin-top: 8px;
    @media (max-width: 1000px) {
        font-size: 30px;
    }


    .emptyCartImg{
        display: flex;
        justify-content: center;     
        img{
            max-width: 800px;
        }
        @media (max-width: 800px) {
            img{
                width: 100%;
            }
        }
    }
}


.formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
    .formField{
        max-width: 400px;
        margin: 15px;
        border-color: #ccedd2;
    }
    .buttonForm{
        max-width: fit-content;
        border-color: #94d3ac;
        background-color: #ccedd2;
        border-radius: 20px;
    }
}