
// General //

h1{
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size:  60px;
    color: #94d3ac;
    margin-top: 8px;
}

// HOME PAGE //

.homePagaContainer{
        

    .carousel-caption{
        position:absolute;
        right:0%;
        left:0%;
    }
    .carouselContainer{
        h3, p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-indent: 30px;

            color:white;
        }
        .divCarousel{
            border-radius: 10px;
            background-color: rgba(0, 0, 0,0.3);
            width: 100%;
            
        }
    }
    .articleContainer{
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-height: max-content;
        .btn-success{
            background-color: #ccedd2;
            border-color: #effcef;
            color: #655c56;
            border-radius: 15px;
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }
        .btn-success:hover{
            background-color: #94d3ac;
        }
        .articleRow{
            margin-top: 30px;
            margin-bottom: 30px
        }

        img{
            width: 100%;
            border-radius: 2%;
            
        }
        .text-article{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-indent: 30px;
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.7;
            text-align: left;
        }

    }
}

// ABOUT PAGE //
.aboutContainer{
    img{
        width: 100%;
        border-radius: 2%;
    }
    .aboutText{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 400;
    }
    .aboutRow{
        margin: 1rem;
        align-items: center;
    }
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 30px;
    h2{
        font-family: 'Dongle', sans-serif;
        text-align: center;
        font-size:  50px;
        color: #94d3ac;
        margin-top: 1.5rem;

    }
}

// NOT FOUND PAGE //
.notFoundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem

}