// General //
.btn-success:hover{
    background-color: var(--global-color-pink);
    border-color: var(--global-color-orange);
    color: #655c56;
}
h1{
    font-family: 'itim', sans-serif;
    text-align: center;
    font-size:  45px;
    color: #94d3ac;
    margin: 30px 0px;
}



// HOME PAGE //

.homePagaContainer{
    .carousel{
        height: 50vh;
    }
    .carousel-caption{

    }
    .carouselContainer{
        h3, p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-indent: 30px;
            height: 100%;
            color:white;
        }
        .divCarousel{
            border-radius: 10px;
            background-color: rgba(0, 0, 0,0.3);
            width: 100%;
        
        }
    }
    .articleContainer{
        h2{
            font-size: 35px;
        }
        max-height: max-content;
        @media (max-width: 768px)
        {
            button {
                width: 100%;
            }
        }
        .btn-success {
            background-color: #ccedd2;
            color: #655c56;
            border-color: #94d3ac;
            font-size: 1.1rem;
            margin-bottom: 1.2rem ;
          }
        .btn-success:hover{
                background-color: var(--global-color-pink);
                border-color: var(--global-color-orange);
        }
        .articleRow{
            margin-top: 20px;
            margin-bottom: 0px;
            align-items: center;
        }
        img{
            width: 100%;
            border-radius: 2%;
        }
        hr{
            margin: 0;
        }
        .text-article{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-indent: 30px;
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.7;
            text-align: left;
}}}

@media (max-width: 768px){
    h1{
        font-family: 'itim', sans-serif;
        text-align: center;
        font-size:  30px;
        color: #94d3ac;
        margin: 30px 0px;
    }
    .articleContainer h2{
          font-size: 25px !important;
        
    }
    .text-article{
        font-size: 14px !important;
    }
}

// ABOUT PAGE //
.aboutContainer{
    img{
        width: 100%;
        border-radius: 2%;
    }
    .aboutText{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 400;
    }
    .aboutRow{
        margin: 1rem;
        align-items: center;
    }
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 30px;
    h2{
        font-family: 'itim', sans-serif;
        text-align: center;
        font-size:  50px;
        color: #94d3ac;
        margin-top: 1.5rem;

    }
}
// PRODUCT PAGE //
.productPageContainer{
    h2{
        font-family: 'Itim', cursive;
        color: #94d3ac;
        font-size: 35px;
        margin: 1.5rem 0rem;
        text-align: center;
    }
    .btn-back {
        font-size: 17px;
    }
}

// ARTICLE PAGE //

.articleContainer{
    h2{
        font-family: 'Itim', cursive;
        font-size: 40px;
        color: #94d3ac;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .introStyle{
        text-align: center;
        font-size: 19px;
    }
    h3, h4{
        color: #94d3ac;
        font-weight: 600;
    }

    .imgArticle{

        width: 100%;
        display: flex;
        justify-content: center;
        .imgContainer{
            max-width: 100vh;
        }
    }
    
    .textArticle{
        text-indent: 30px;
        letter-spacing: normal;
        line-height: 1.7;
        text-align: left;
        font-size: 17px;
        font-weight: 500;
    }
    font-family: 'Montserrat', sans-serif;

}


// PANEL USER //
.panelTitle{
    font-family: 'Itim', cursive;
    color: #94d3ac;
}

// CHECKOUT PAGE //
.checkOutContainer{
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(37, 10, 10, 0.4);
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3d3835;
    strong{
        font-weight: 600;
    }
}

// CONTACT PAGE // 
.contactStyle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #655c56;

    .textContainer{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        h4 {
            text-align: center;
            font-weight: 400;
        }
        p {
            text-align: center;
        }
    }

    .formContainer{
        display: flex;
        justify-content: center;
    }
    form{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(37, 10, 10, 0.4);
    border-radius: 5px;
    padding: 0.4rem 2rem;
    }
    h2{
        font-family: 'Itim', cursive;
        color: #94d3ac;
        font-size: 35px;
        margin: 1.5rem 0rem;
        text-align: center;
    }
    .comment{
        height: 200px;
    }

}

// NOT FOUND PAGE //
.notFoundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem

}
