.main-footer{
    font-family: 'Montserrat', sans-serif;

    color: white;

    position: relative;
    bottom: 0;
    width: 100%;
    .containerFooter{
        padding-top: 1rem;
        background-color: #4A7221;
    }

}
.list-unstyled{
    list-style: none;
}


.list-social-media{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    list-style: none;
    img{
        width: 32px;
        height: 32px;
    }
}