.main-footer{
    
    background-color: #94d3ac;;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;

}
.list-unstyled{
    list-style: none;
}


.list-social-media{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    list-style: none;
    img{
        width: 32px;
        height: 32px;
    }
}